body {
  font-family: Microsoft JhengHei;
}
.reset-Button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    cursor: pointer;
    background: transparent;
    outline:none;
  
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

.reset-Button:focus{
    outline: 0;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #727272;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #565656;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #565656;
    }

.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.wrap{
  width: 100%;
/*   overflow:hidden; */
}
.main-image {
  width: 100%;
  padding-bottom:15%;
  background-image: url("../images/title.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0px auto;
}
.content{
  padding-top:5px;
  background-image: url("../images/map2.jpg");
  background-size: corver;
  background-position: bottom center;
  background-repeat: no-repeat;
  padding-bottom:5px;
  box-sizing:border-box;
  background-attachment: fixed;
}
.content-wrap{
  margin: 0 auto;
  width: 90%;
  background-color:rgba(255,255,255,.85);
  position:relative;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(34, 62, 66, 0.25);
  padding-top: 42px;
}
.item-title{
  font-size: 18px;
    font-weight: bold;
    color: #5a536f;
}
.tag{
  font-size:17px;
  
  }
.info-nav{
  margin: 0 auto;
  width: 90%;
}
.card-wrap{
  margin: 0 auto;
  max-width: 750px;
}
.star-area{
  font-size:18px;
  display:flex;
  justify-content: space-between;
}
.star-area .fa-star{
  margin-right: 5px;
}
.star-area .checked{
  color: orange;
}
.cursor-pointer{
  cursor: pointer;
}
@media (max-width: 860px) { 
  .content{
    padding-right:20px;
    padding-left: 20px;
  }
}
@media (max-width: 818px) { 
  .content{
    padding-top:250px;
    padding-bottom:calc(50% - 250px);
  }
  .content-wrap{
    padding-left:10px;
    padding-right: 10px;
  }
}
@media (max-width: 518px) { 
  .content{
    padding-top:250px;
    padding-bottom:calc(90% - 250px);
  }
}
